.container {
    height: 700px;
    display: flex;
    margin: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.login-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    height: 300px;
    width: 300px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-style: solid;
    border-radius: 4px;
    border-color: olive;
    border-width: 2px;
}

.login-container:hover {
    /*box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);*/
    box-shadow: 0 8px 8px -4px black;
}
img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}
input {
    margin: 5px;
}
.logo {
    
    width: 60px;
    height: 60px;
    padding: 5px;
    justify-self: center;
    align-self: center;
    
    border-radius: 4px;
}
.logo:hover {
    box-shadow: 0 0 5px 5px grey;
}

.username {
    background-color: lightsalmon;
    width: 200px;
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 10px;
    border-radius: 4px;
}

.username:hover {
    box-shadow: 2px 3px #888888;
}
.password {
    background-color: lightseagreen;
    width: 200px;
    height: auto;
    align-self: center;
    justify-self: center;
    padding: 10px;
    border-radius: 4px;
}

.password:hover {
    box-shadow: 0 8px 8px -4px lightblue;
}

.buttons {
    display: flex;
    flex-flow: row wrap;
    gap: 20px ;
    justify-content: center;
}

.login-btn {
    color: white;
    background-color: gray;
    border-radius: 4px;
}
.register-btn {
    color: white;
    background-color: midnightblue;
    border-radius: 4px;
}
.login-btn:hover {
    box-shadow: 0 8px 8px -4px grey;
}
.register-btn:hover {
    box-shadow: 0 8px 8px -4px grey;
}
.navbar {
    background-color:slategray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
    color: white;

}
.navbar:hover {
    box-shadow: 0 8px 8px -4px black;
    background-color: lightgrey;
    color : #000000; 
}
.nav-item1{
    width: 60px;
    padding: 10px;
    flex-grow: 1;
}

.nav-item2{
    width: 60px;
    padding: 10px;
    flex-grow: 1;
   
    
}

.nav-item3{
    width: 60px;
    padding: 10px;
    flex-grow: 1;
   
    
}